.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3),
    /* Bottom shadow */ -5px 0 5px rgba(0, 0, 0, 0.3),
    /* Left shadow */ 5px 0 5px rgba(0, 0, 0, 0.3); /* Right shadow */
}

.form-table {
  display: table;
  width: 100%;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-cell {
  flex: 1;
  margin-right: 10px;
}

.form-cell label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-cell input,
.form-cell select,
.form-cell textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: black;
}

.form-cell textarea {
  resize: vertical;
  min-height: 150px;
}

/* .submit-btn{
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.submit-btn:hover {
  background-color: #0056b3;
} */



.Form-card-css {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.required:after {
  content: "*";
  color: red;
}

.correct-label {
  color: green;
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-content {
  text-align: center;
}
